li {
  padding: 6px;
  margin: 6px;
  background: #a09be9;
}

.label {
  font-weight: bold;
}

.create-update-form {
  margin: 5px;
  padding: 5px;
  background: rgb(0, 206, 206);
}

#burger{
  float: left;
  height: 250px;
  width: 250px;
  margin: 50px;
}

#form{
  float: left;
  clear: left;
  margin-top: 5%;
  padding: 20px;
  background-color: rgb(88, 166, 255);
  border-radius: 5px;
}
.form-group {
  margin-bottom: 5px;
}